<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.hawk.core.GraphChangeListenerExtensionPoint">
      <graphChangeListener
            class="org.eclipse.acme.hawk.integration.ACMEGraphChangeListener">
      </graphChangeListener>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated log -->
      <package
            uri="http://org.eclipse.acme.log/1.0"
            class="log.LogPackage"
            genModel="model/log.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.hawk.core.ModelExtensionPoint">
      <ModelP
            ModelParser="org.eclipse.acme.hawk.integration.IsabelleResourceFactory">
      </ModelP>
   </extension>

</plugin>
